        /* Base */
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #efe5d5;
            color: #252627;
        }

        /* Navigation */
        header {
            background-color: #994d47;
            color: #efe5d5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 40px;
            position: fixed;
            width: 100%;
            box-sizing: border-box;
            top: 0;
            z-index: 1000;
        }

        header h1 {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            font-size: 16px;
            font-weight: 600;
            margin-left: 20px;
        }

        nav ul li a {
            color: #efe5d5;
            text-decoration: none;
            font-weight: bold;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        /* Sections */
        section {
            padding: 70px 20px;
            max-width: 90%;
            margin: auto;
            text-align: center;
        }

        #about {
            padding-top: 100px;
            padding-left: 300px;
            padding-right: 300px;
        }

        /* Project */
        .project-category {
            background: #bfb9a3;
            padding: 15px;
            margin: 20px 0;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: left;
        }

        .project {
            display: flex;
            justify-content: space-between; 
            align-items: center;
            padding: 20px 40px;
        }

        .project-details {
            flex: 1;
            text-align: left;
        }

        .project img {
            margin-left: 20px;
        }

        img {
            pointer-events: none;
            user-select: none;
            max-width: 100%;
            height: auto;
        }

        .sprites-image img,
        .sesame-image img,
        .Prototype-image img,
        .Portrait-image img {
            max-width: 200px;
        }

        .Still-image {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

        .Still-image img {
            max-width: 600px;
        }

        .sprites-image {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .rayne-image .top-row {
        display: flex;
        gap: 10px; 
        justify-content: center;
        }

        .rayne-image .bottom-column {
        display: flex;
        flex-direction: column;
        gap: 10px; 
        align-items: center;
    }

        /* Responsive */
        @media (max-width: 768px) {
            .project {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        
            .project-details {
                text-align: center;
            }
        
            .project img {
                max-width: 90%; 
                margin-left: 0; 
            }
        
            .sprites-image img,
            .sesame-image img,
            .Prototype-image img,
            .Portrait-image img,
            .Still-image img {
                max-width: 50%;
            }
        }

        /* Footer */
        footer {
            text-align: center;
            padding: 10px;
            background: #994d47;
            color: #efe5d5;
            font-size: 15px;
        }

