.page-container a{
    margin: 0 10px;
    color: #614b4b;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.2s;
}

.page-container a:hover {
    text-decoration: underline;
}

.project-credits {
    margin-top: 0px;
}

/* Mobile Portrait & Landscape */
@media (max-width: 1024px) {
    .project-details {
        flex-direction: column;
    }

    .project-description { order: 0; }
    .project-credits { order: 1; }

    .dev-note { order: 2; }
    .project-video { order: 3; }
    .characters-note { order: 4; }
    .project-characters { order: 5; }

    .project-details video {
        width: 80vw;
        margin: 1rem auto;
    }

    .project-characters {
        margin-top: 1rem;
    }
}