.project-credits {
    margin-top: 0px;
}

/* Mobile Portrait & Landscape */
@media (max-width: 1024px) {
    .project-details {
        display: flex;
        flex-direction: column; 
    }

    .project-description {
        order: 0;
    }

    .project-credits {
        order: 1;
        margin-top: 1rem;
    }

    video {
        order: 2;
        width: 80vw;
        max-width: 800px;
        margin: 1rem auto;
        display: block;
    }

    .dev-note { order: 2; }

    .project-details img[alt="Screenshot 1"] {
        order: 3;
        width: 80vw;
        max-width: 800px;
        margin: 1rem auto;
        display: block;
        user-select: none;
        -webkit-user-drag: none; 
        -moz-user-select: none;  
        -ms-user-select: none;
        pointer-events: none; 
    }
}
